<a href="https://colab.research.google.com/github/r-hugoalves/SQL/blob/master/Base_de_Dados_e_Linguagem_SQL_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Base de Dados e Linguagem SQL

##**1. Bases de Dados Relacionais**

### 1.1 Físico

Sistema Gerenciador de Base de Dados
> Software que gerencia o armazenamento físico de dados

Alguns exemplos:
- MySQL
- PostgreSQL
- MariaDB
- Oracle

###1.2 Lógico

Conceitos relacionados a organização lógica dos dados. 

- Tabela
> Estrutura tabular de dados organizados em linhas e colunas

- Base de Dados
> Conjunto de tabelas

##**2. Introdução ao SQL**

###2.1 Definição

A linguagem de consulta estruturada, do inglês *structured query language* ou SQL, é uma linguagem de programação declarativa para interação com os dados armazenados nas tabelas de uma base de dados. Existe uma versão padrão do SQL registrada no ANSI, mas cada SGBD tem a sua própria versão.

Os códigos SQL são conhecidos como *queries* e são divididas em dois grandes grupos:

 - **DDL**: Linguagem de definição de dados;
 - **DML**: Linguagem de manipulação de dados.

Para exemplificar esses conceitos, vamos utilizar a tabela abaixo, com dados de clientes de uma instituição financeira:

| id        | idade | sexo | dependentes | escolaridade | tipo_cartao | limite_credito | valor_transacoes_12m | qtd_transacoes_12m |
|-----------|-------|------|---|--------------|-|----------------|----------|----|
| 768805383 | 45    | M    | 3 | ensino medio | blue | 12.691,51      | 1.144,90 | 42 |
| 818770008 | 49    | F    | 5 | mestrado     | blue | 8.256,96      | 1.291,45 | 33 |
| 713982108 | 51    | M    | 3 | mestrado     | blue | 3.418,56      | 1.887,72 | 20 |

###2.2 DDL

São instruções para criar/excluir/alterar tabelas e inserir/remover/atualizar dados.

**Query 1: Criando uma tabela de clientes**

```sql
CREATE TABLE clientes (
  id BIGINT, 
  idade BIGINT, 
  sexo STRING, 
  dependentes BIGINT, 
  escolaridade STRING, 
  tipo_cartao STRING, 
  limite_credito DOUBLE, 
  valor_transacoes_12m DOUBLE, 
  qtd_transacoes_12m BIGINT
);
```

**Query 2: Excluindo a tabela de clientes**

```sql
DROP TABLE clientes;
```

**Query 3: Inserindo dados na tabela**

```sql
INSERT INTO clientes VALUES (768805383, 45, 'M', 3, 'ensino medio', 'blue', 12691.51, 1144.90, 42);
INSERT INTO clientes VALUES (818770008, 49, 'F', 5, 'mestrado', 'blue', 8256.96, 1291.45, 33);
INSERT INTO clientes VALUES (713982108, 51, 'M', 3, 'mestrado', 'blue', 3418.56, 1887.72, 20);
```

**Query 4: Removendo os dados da tabela**

```sql
DELETE FROM clientes WHERE sexo = 'F';
```

###2.3 DML

São instruções para manipular (selecionar, filtrar, agregar, limitar, etc.) os dados armazenados em tabelas.

**Query 1: Selecionar o id, a idade e o limite de crédito dos clientes homens da tabela de clientes, ordenados por idade de maneira decrescente.**

```sql
SELECT id, idade, limite_credito FROM clientes WHERE sexo = 'M' ORDER BY idade DESC;
```

**Query 2:Selecionar a média da idade dos clientes por sexo da tabela de clientes.** 

```sql
SELECT sexo, AVG(idade) AS "media_idade_por_sexo" FROM clientes GROUP BY sexo;
```

##**3. AWS Console**

##**4. Armazenamento de dados com AWS S3**

###4.1 Definição

###4.2 Funcionamento

###4.3 Definição de Preço

##**5. Computação em SQL com o AWS Athena**

###6.1 Definição

###6.2 Funcionamento

###6.3 Definição de preço

##**Exercícios**